/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
/* font-family: 'Orbitron', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500&display=swap');
/* font-family: 'Exo 2', sans-serif; */
/*RESET*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  list-style: none;
  text-decoration: none;
}
*::selection {
  background: rgba(var(--cor-tema),0.5);
  color: #eee;
}
section {
  padding: 50px 10%;
}
body {
	  min-height: 100vh;
}

/*VARIAVEIS*/
:root {
	--cor-bg-full: var(--cor-bg-dark-full);
	--cor-bg-med: var(--cor-bg-dark-med);
	--cor-font: var(--font-bg-dark);
	--cor-tema: var(--cor-4); 
	--cor-icones-svg: var(--svg-4);
	--cor-bordas: var(--cor-bordas-light);

	--cor-bordas-light: 95, 98, 103;    
    --font-bg-dark: #f2f2f2;
    --font-bg-ligth: #181818; 	
	--cor-bg-dark-med: 20,27,33;
    --cor-bg-dark-full: 17,23,30;

	--cor-1: 251, 140, 0; /*#fb8c00 laranjado*/
	--cor-2: 0,   200, 83; /* #00c853 verde*/
	--cor-3: 255, 99,  71; /* #ff6347 tomato*/
	--cor-4: 17,  96,  248; /* #1160f8 azul*/
    
	--box-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 2.6px;
	--tremer: tremer 0.82s cubic-bezier(.36,.07,.19,.97) both;

--svg-branco: invert(99%) sepia(11%) saturate(109%) hue-rotate(215deg) brightness(112%) contrast(90%);
--svg-1: invert(62%) sepia(46%) saturate(4781%) hue-rotate(3deg) brightness(105%) contrast(104%);
--svg-2: invert(60%) sepia(68%) saturate(2554%) hue-rotate(101deg) brightness(93%) contrast(101%);
--svg-3: invert(46%) sepia(92%) saturate(1132%) hue-rotate(331deg) brightness(101%) contrast(100%);
--svg-4: invert(22%) sepia(100%) saturate(2439%) hue-rotate(216deg) brightness(101%) contrast(95%);

}
/*ANIMACAO TREMER*/
@keyframes tremer {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*-------------------------------*/
/*HELPERS*/
.hidden {
	display: none;	
}
/*-------------------------------*/
/*NAVBAR*/
.navbar {
	background-color: rgba(var(--cor-bg-dark-med),1);
	height: 80px;
	box-shadow: var(--box-shadow);
	position: fixed;
	top: 0;
	width: 100%;
	transition: all 1s;
	display: flex;
	justify-content: flex-end;
	align-items: center;

}

.nav-ul-container {
	display: flex;
	flex-direction: row;
	flex: 3;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	margin-right: 1em;
}
.nav-ul-container a {
	text-decoration: none;
	color: rgba(var(--cor-tema),1);
	text-transform: uppercase;	
	font-size: 1em;
	/*letter-spacing: .15em;	*/
	font-family: 'Exo 2', sans-serif; 

}

.nav-ul-item {
	margin: 1em;
	padding-bottom: .5em;
}
.nav-ul-item:hover {
	/*transition: all 100ms;*/
	border-bottom: 4px solid rgba( var(--cor-tema),0.3);
}
/*-------------------------------*/
/*ICONES*/
.icon-svg {
	width: 2.5em;
	margin: .5em;
	padding: .5em;
	filter: var(--cor-icones-svg);
}
.icon-svg-link {
	width: 1.5em;
	margin-right: 2em;
	margin-left: 20px;
	filter: var(--svg-branco);

}
.icon-svg-contato {
	width: 2em;
	filter: var(--cor-icones-svg);
	margin: 1.5em;
}

.div-contato a:hover {	
	animation: var(--tremer); 
} 
.logo-svg {
	z-index: 2;
}


/*-------------------------------*/
/*modal-links*/
.modal-links-container {
	position: absolute;
	top: 0;
	left: 0;
	top: 20px;
	left: 1em;
/*	width: 100vw;
	height: 100vh;*/
	width: 320px;
	height: 600px;
	min-height: 600px;
	z-index: 1;
	background-color: rgba(var(--cor-bg-dark-med),1);
	border: 1px solid rgba(var(--cor-bordas),1);
	border-radius: 15px;
	box-shadow: var(--box-shadow);    
	overflow: hidden;
	overflow-y: scroll;
}
.modal-links {	
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.imagem-perfil {
	width: 200px;
	/*clip-path: circle(40% at 48% 50%);*/
	margin-bottom: 1em;
}
.imagem-perfil:hover {
  	animation: var(--tremer);
}
.titulo-perfil {
	height: 50px;
	font-family: 'Orbitron', sans-serif;
	font-size: 1.5em;
	letter-spacing: .25em;
	color: var(--cor-font);
	text-transform: uppercase;
}
.sobrenome {
	color: rgba(var(--cor-tema),1);
}
.ul-container {
	width: 100%;
	display: flex;	
	flex-direction: column;
}
.ul-container a {
	text-decoration: none;
	color: var(--cor-font);
	text-transform: uppercase;	
	font-size: 1.25em;
	letter-spacing: .35em;	
}
.ul-item:hover {
  	animation: var(--tremer);
	background: rgba( var(--cor-tema),0.2);
}
.ul-item {
	margin-left: -10px;
	width: 110%;
	border-top: 1px solid rgba(var(--cor-bordas),1);	
	padding: 0.5em;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
}
.div-contato {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	border-top: 1px solid rgba(var(--cor-bordas),1);
}
/*-------------------------------*/
/*modal-config*/
.modal-config-container {
	position: absolute;
	top: 20px;
	right: 1em;
	left: auto;
	height: 250px;
	min-height: 250px;
	width: 250px;
	z-index: 1;
	background-color: rgba(var(--cor-bg-dark-med),1);
	border: 1px solid rgba(var(--cor-bordas),1);
	border-radius: 15px;
	box-shadow: var(--box-shadow);    
	overflow: hidden;
}
.modal-config {	
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.titulo-cores {
	width: 100%;
	max-width: 250px;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	font-size: .75em;
	letter-spacing: 4px;
	color: var(--cor-font);
	text-transform: uppercase;
	margin-bottom: 1.5em;
}

.titulo-cores span {
	color: rgba(var(--cor-tema),1);
}

.cores-container {
	display: flex;
	width: 100%;
	height: 100px;
	justify-content: space-evenly;
	align-items: center;
	max-width: 250px;
}
.icone-cores {
	border-radius: 50%;
	width: 45px;
	height: 45px;

}
.icone-cores:hover {
  	animation: var(--tremer);
}

.cor-1 {
	background-color: rgba(var(--cor-1),1);
}
.cor-2 {
	background-color: rgba(var(--cor-2),1);
}
.cor-3 {
	background-color: rgba(var(--cor-3),1);
}
.cor-4 {
	background-color: rgba(var(--cor-4),1);
}

/*-------------------------------*/

/*CONTAINER*/
.flex-container {
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/*SECTION CONTAINER*/
.section-container {
	display: flex;
	width: 100%;
	min-height: 100vh;
}

.section-title {
	font-family: 'Orbitron', sans-serif;
	color: rgb(var(--cor-tema));
	/*margin-top: 100px;*/
	font-size: clamp(1rem, 5vw, 2.5rem);
}
/*-------------------------------*/
.sobre-mim {
	background-color: rgba(var(--cor-bg-dark-full),1);
	min-height: 650px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.sobre-mim-filho {
	min-width: 350px;
	width: calc(50% - 100px);
	margin-inline: 50px;
}
.code {
	color: rgba(var(--cor-tema),1);
	font-size: 1.5em;
}
.sobre-mim-code {
	margin-top: 150px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	height: 500px;
}

.sobre-mim-texto {
	margin-top: 150px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	height: 500px;
}

.card-container {
	width: 400px;
	height: 400px;
	border: 1px solid rgba(var(--cor-tema),.5);
	background-color: rgba(var(--cor-tema),.02);
	border-radius: 5%;

	display: flex;
	justify-content: center;

	z-index: 1;
}

.card-sobre-mim {
	margin-top: -50px;
	opacity: .6;
	/*clip-path: circle(42%);*/
	border: 1px solid rgba(var(--cor-tema),1);
	background-color: rgba(var(--cor-tema),.8);
	border-radius: 5%;
	overflow: hidden;
	width: 250px;
	height: 220px;
	z-index: 2;
}



.img-sobre-mim {
	width: 250px;

}


/*-------------------------------*/
.soft-skills {
	background-color: rgba(var(--cor-bg-dark-med),1);
}
/*-------------------------------*/
.formacao {
	background-color: rgba(var(--cor-bg-dark-full),1);
}
/*-------------------------------*/
.experiencias {
	background-color: rgba(var(--cor-bg-dark-med),1);
}
/*-------------------------------*/
.contato {
	background-color: rgba(var(--cor-bg-dark-full),1);
}
/*-------------------------------*/
/*FOOTER*/
.footer {
	background-color: rgba(var(--cor-bg-dark-med),1);
	height: 80px;
}





















/*----------------------------------------------------------------------*/
/*MEDIA QUERIES*/
/*----------------------------------------------------------------------*/
/* DESKTOP  */
@media only screen and (min-width: 769px) {

}
/*----------------------------------------------------------------------*/
/* TABLET */
/*----------------------------------------------------------------------*/
@media only screen and (min-width: 481px) and (max-width:768px) {
	.navbar {
		justify-content: space-between;
	}
	.nav-ul-container {
		display: none;
	}



}

/*----------------------------------------------------------------------*/
/* CELPHONE */
/*----------------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
	.navbar {
		justify-content: space-between;
	}
	.nav-ul-container {
		display: none;
	}


}

/*----------------------------------------------------------------------*/
/* CELPHONE-LANDSCAPE */
/*----------------------------------------------------------------------*/
@media only screen and (max-height: 480px) {
	.logo-svg {
		display: none;
	}
	.nav-ul-container {
		display: flex;

	}

}