/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
/* font-family: 'Orbitron', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500&display=swap');
/* font-family: 'Exo 2', sans-serif; */
/*RESET*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}
body {
	font-family: 'Exo 2', sans-serif;
}
/*VARIAVEIS*/
:root {
	--cor-1: 251, 140, 0; /*#fb8c00 laranjado*/
	--cor-2: 0, 200, 83; /* #00c853 verde*/
	--cor-3: 255, 99, 71; /* #ff6347 tomato*/
	--cor-4: 17,96,248; /* #1160f8 azul*/
    
    --cor-font: #f2f2f2;

	--cor-tema: var(--cor-4); 
	--cor-bordas: 95, 98, 103; /* #5f6267 */
	--cor-bg-10: 30, 40, 53; /* #1e2835 */
	--cor-bg-80: 20, 27, 36; /* #141b24 */
	--cor-bg-100: 17, 23, 30; /* #11171e */

	--cor-icones-svg: var(--svg-4);
	--cor-texto-svg: var(--sgv-branco);

	--box-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 2.6px;
	--tremer: tremer 0.82s cubic-bezier(.36,.07,.19,.97) both;

--sgv-branco: invert(99%) sepia(11%) saturate(109%) hue-rotate(215deg) brightness(112%) contrast(90%);
--sgv-1: invert(62%) sepia(46%) saturate(4781%) hue-rotate(3deg) brightness(105%) contrast(104%);
--sgv-2:  invert(60%) sepia(68%) saturate(2554%) hue-rotate(101deg) brightness(93%) contrast(101%);
--svg-3: invert(66%) sepia(67%) saturate(4932%) hue-rotate(331deg) brightness(100%) contrast(103%);
--svg-4: invert(22%) sepia(100%) saturate(2439%) hue-rotate(216deg) brightness(101%) contrast(95%);

}
/*ANIMACAO TREMER*/
@keyframes tremer {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*ESTILOS*/
body {
	width: 100vw;
	background-color: rgba(var(--cor-bg-100),1);

}
/*-------------------------------*/
/*HELPERS*/
.hidden {
	display: none;	
}
/*-------------------------------*/
/*NAVBAR*/
.navbar {
	background-color: rgba(var(--cor-bg-10),1);
	height: 80px;
	box-shadow: var(--box-shadow);
	position: fixed;
	top: 0;
	width: 100%;
	display: block;
	transition: all 1s;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*-------------------------------*/
/*ICONES*/
.icon-svg {
	width: 2.5em;
	margin: .5em;
	padding: .5em;
	filter: var(--cor-icones-svg);
}
.icon-svg-link {
	width: 1.5em;
	margin-right: 2em;
	margin-left: 20px;
	filter: var(--cor-texto-svg);
}
.icon-svg-contato {
	width: 2em;
	filter: var(--cor-texto-svg);
	margin: 1.5em;
}
/*-------------------------------*/
/*modal-links*/
.modal-links-container {
	position: absolute;
	top: 1em;
	left: 1em;
	width: 320px;
	height: 600px;
	min-height: 600px;
	z-index: 1;
	background-color: rgba(var(--cor-bg-10),1);
	border: 1px solid rgba(var(--cor-bordas),1);
	border-radius: 15px;
	box-shadow: var(--box-shadow);    
	overflow: hidden;
}
.modal-links {	
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.imagem-perfil {
	width: 200px;
	/*clip-path: circle(40% at 48% 50%);*/
	margin-bottom: 1em;
}
.imagem-perfil:hover {
  	animation: var(--tremer);
}
/*-------------------------------*/
.titulo-perfil {
	display: inline-block;
	height: 50px;
	font-family: 'Orbitron', sans-serif;
	font-size: 1.5em;
	letter-spacing: .25em;
	color: var(--cor-font);
	text-transform: uppercase;
}
.sobrenome {
	color: rgba(var(--cor-tema),1);
}
.ul-container {
	width: 100%;
	display: flex;	
	flex-direction: column;
}
.ul-container a {
	text-decoration: none;
	color: var(--cor-font);
	text-transform: uppercase;	
	font-size: 1.25em;
	letter-spacing: .35em;	
}
.ul-item:hover {
  	animation: var(--tremer);
	background: rgba( var(--cor-tema),0.2);

}
.ul-item {
	margin-left: -10px;
	width: 110%;
	border-top: 1px solid rgba(var(--cor-bordas),1);	
	padding: 0.5em;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
}
.div-contato {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	border-top: 1px solid rgba(var(--cor-bordas),1);
}

/*-------------------------------*/
/*CONTAINER*/
.flex-container {
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/*SECTION CONTAINER*/
.section-container {
	width: 100%;
	max-width: 100%;
	height: 100vh;
	min-height: 500px;
}
/*-------------------------------*/
.sobre-mim {
	background-color: rgba(var(--cor-bg-100),1);
	min-height: 650px;
}
/*-------------------------------*/
.soft-skills {
	background-color: rgba(var(--cor-bg-80),1);
}
/*-------------------------------*/
.formacao {
	background-color: rgba(var(--cor-bg-100),1);
}
/*-------------------------------*/
.experiencias {
	background-color: rgba(var(--cor-bg-80),1);
}
/*-------------------------------*/
.contato {
	background-color: rgba(var(--cor-bg-100),1);
}
/*-------------------------------*/
/*FOOTER*/
.footer {
	background-color: rgba(var(--cor-bg-10),1);
	height: 80px;
}