/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
/*RESET*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  scroll-behavior: initial;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
*::selection {
  background: rgba(var(--cor-tema),0.5);
  color: #eee;
}

body,
html {
	  width: 100vw;
	  min-height: 100vh;
	  overflow-x: hidden;
}

/*VARIAVEIS*/
:root {
		--cor-bg: var(--cor-bg-dark);
		--cor-font: var(--font-bg-dark);
		--cor-tema: var(--cor-4); 
		--cor-icones-svg: var(--svg-4);
		--cor-svg-liks: var(--svg-dark);
		--cor-bordas: var(--cor-bordas-dark);

		--box-shadow: var(--box-shadow);

		--cor-bordas-light: rgba(24, 24, 24,0.3);   
		--cor-bordas-dark: rgba(223, 223, 217,0.3);    

		--font-bg-dark: #f2f2f2;
		--font-bg-ligth: #181818; 	

		--cor-bg-dark: 68,69,70; 
		--cor-bg-ligth: 235,235,235;

		--cor-bg-dark-card: #3A3C3C;
		--cor-bg-light-card: #dfdfdf;

				--cor-1: 18, 102, 241; 
				--cor-2: 164, 5, 198;
				--cor-3: 0, 183, 74; 
				--cor-4: 233, 84, 32;

		--box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;;

		--tremer: tremer 1s cubic-bezier(.36,.07,.19,.97) both;

		--svg-dark: invert(99%) sepia(11%) saturate(109%) hue-rotate(215deg) brightness(112%) contrast(90%);
		--svg-ligth: invert(0%) sepia(13%) saturate(254%) hue-rotate(316deg) brightness(88%) contrast(81%);


--svg-1: invert(23%) sepia(44%) saturate(5510%) hue-rotate(216deg) brightness(103%) contrast(88%);
--svg-2: invert(20%) sepia(72%) saturate(2929%) hue-rotate(277deg) brightness(92%) contrast(130%);
--svg-3: invert(56%) sepia(46%) saturate(6229%) hue-rotate(116deg) brightness(98%) contrast(101%);
--svg-4: invert(37%) sepia(96%) saturate(3069%) hue-rotate(355deg) brightness(100%) contrast(83%);

}
/*ANIMACAO TREMER*/
@keyframes tremer {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*HELPERS*/
.hidden {
	display: none!important;
	/*background-color: transparent;*/
}
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*NAVBAR*/
.navbar {
	background-color: var(--cor-bg-dark-card);
	height: 50px;
	box-shadow: var(--box-shadow);
	position: fixed;
	top: 0;
	width: 100%;
	transition: all 1s;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	z-index: 5;
}
.nav-ul-container {
	display: flex;
	flex-direction: row;
	flex: 3;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	margin-right: 1em;
}
.nav-ul-container a {
	text-decoration: none;
	color: rgb(var(--cor-tema));
	text-transform: uppercase;	
	font-size: 1em;
	font-family: 'Ubuntu', sans-serif;
}
.nav-ul-item {
	margin: 1em;
	padding-bottom: .5em;
}
.nav-ul-item:hover {
	border-bottom: 4px solid rgb(var(--cor-tema));
}
/*-------------------------------*/
/*ICONES*/
.icon-svg {
	width: 2.5em;
	margin: .5em;
	padding: .5em;
	filter: var(--cor-icones-svg);
	cursor: pointer;
}
.icon-svg-link {
	width: 1.5em;
	margin-right: 2em;
	margin-left: 20px;
	filter: var(--cor-svg-liks);
	cursor: pointer;
}
.icon-svg-contato {
	width: 2em;
	filter: var(--cor-icones-svg);
	margin: 1.5em;
}
.div-contato a:hover {	
	animation: var(--tremer); 	
} 
.logo-svg {
	z-index: 2;
}

/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*modal-links*/
.modal-links-container {
	position: absolute;
	top: 0;
	left: 0;
	top: 20px;
	left: 1em;
	min-width: 280px;
	height: 550px;
	min-height: 550px;
	z-index: 1;
	background-color: rgba(var(--cor-bg),1);
	border: 1px solid var(--cor-bordas);
	box-shadow: var(--box-shadow);    
	border-radius: 10px;
	overflow: hidden;

}
.imagem-perfil {
	width: 150px;

}
.modal-links {	
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.titulo-perfil {
	height: 50px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.5em;
	letter-spacing: .25em;
	color: var(--cor-font);
	text-transform: uppercase;
}
.sobrenome {
	color: rgba(var(--cor-tema),1);
}
.ul-container {
	width: 100%;
	display: flex;	
	flex-direction: column;
}
.ul-container a {
	text-decoration: none;
	color: var(--cor-font);
	text-transform: uppercase;	
	font-size: 1.25em;
	letter-spacing: .35em;	
}
.ul-item:hover {
  	animation: var(--tremer);
		background: rgba( var(--cor-tema),0.2);
}
.ul-item {
	margin-left: -10px;
	width: 110%;
	border-top: 1px solid var(--cor-bordas);	
	padding: 0.5em;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
}
.div-contato {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	border-top: 1px solid var(--cor-bordas);
}
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*modal-config*/
.modal-config-container {
	position: absolute;
	top: 20px;
	right: 20px;
	left: auto;
	height: 250px;
	min-height: 250px;
	width: 250px;
	z-index: 1;
	background-color: rgba(var(--cor-bg),1);
	border: 1px solid var(--cor-bordas);
	border-radius: 10px;
	box-shadow: var(--box-shadow);    
	overflow: hidden;
}
.modal-config {	
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.titulo-cores {
	width: 100%;
	max-width: 250px;
	text-align: left;
	font-size: 20px;
	letter-spacing: 4px;
	color: var(--cor-font);
	text-transform: uppercase;
	padding-left: 20px;
	margin: 20px 0;
}
.titulo-cores span {
	color: rgb(var(--cor-tema));
}
.cores-container {
	display: flex;
	width: 100%;
	height: 80px;
	justify-content: space-evenly;
	align-items: center;
	max-width: 250px;
	border-bottom: 1px solid var(--cor-bordas);
	padding-bottom: 20px;
}
.icone-cores {
	border-radius: 50%;
	width: 45px;
	height: 45px;
	cursor: pointer;
}
.dark-svg {
	margin: 0;
	padding: 0;
	width: 45px;
	height: 45px;
	cursor: pointer;
	margin-bottom: 20px;
}
.icone-cores:hover,
.dark-svg:hover  {
  	animation: var(--tremer);
}
.cor-1 {
	background-color: rgba(var(--cor-1),1);
}
.cor-2 {
	background-color: rgba(var(--cor-2),1);
}
.cor-3 {
	background-color: rgba(var(--cor-3),1);
}
.cor-4 {
	background-color: rgba(var(--cor-4),1);
}
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*CONTAINER*/
.flex-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/*SECTION CONTAINER*/
.section-container {
	display: flex;
	width: 100%;
	min-height: 100vh;
}

.section-title {
	width: 80%;
	padding: 100px 0 30px 30px;
	font-family: 'Ubuntu', sans-serif;
	color: rgb(var(--cor-tema));
	font-size: clamp(1.5rem, 2.5vw, 2rem); 
	display: flex;
	justify-content: flex-start;
	align-content: center;
}
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*SECTION SOBRE MIM*/
.sobre-mim {
	background-color: rgb(var(--cor-bg));
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;	

}

.sobre-mim-code-container,
.sobre-mim-texto-container {
	margin-inline: 20px;
	min-width: 320px;
	width: 100%;
	display: flex;
	flex: 1;
}
.code {
	/*white-space: pre-wrap;*/
	font-size: clamp(1.35rem, 2.25vw, 1.85rem); 
	color: var(--cor-font);
	min-height: 400px;
	min-width: 320px;
	margin-left: 2em;
}

.sobre-mim-texto-container {
	margin-top: 120px;
	justify-content: center;
	align-items: center;
	margin-bottom: 150px;
}
.sobre-mim-code-container {
	justify-content: flex-start;
	align-items: flex-start;
	height: 400px;
	margin-bottom: 10px;
}

.card-container {
	max-width: 450px;
	/*border: thin solid var(--cor-bordas);*/
	display: flex;
	justify-content: center;
	/*box-shadow: var(--box-shadow);
	background: rgba( var(--cor-tema),0.04);
	border-radius: 10px;*/
}
.card-container h3 {
	font-size: clamp(1.85rem, 2.5vw, 2.25rem); 
}
.card-container p {
	font-size: clamp(1.35rem, 2.05vw, 1.75rem); 
	color: var(--cor-font);
	padding: .5em;
	letter-spacing: 2px;
	text-align: justify;
  text-justify: inter-word;
}
.card-sobre-mim {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/*.img-sobre-mim {
	margin-top: -50px;
	width: 200px;
	filter: brightness(.8) contrast(1.2);
	margin-bottom: .85em;
}*/
.card-container svg {
	/*margin-top: -50px;*/
	width: 225px;
	overflow: visible;
	/*filter: brightness(.8) contrast(1.2);*/
	margin-bottom: 1.5em;

}

#CABECA {
	animation: tremer 800ms infinite ease-in-out;
	
}



#cor_cabeca,
#cor_corpo,
#cor_antena {
	fill: rgb(var(--cor-tema));
}

/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*SECTION SKILLS */
.soft-skills {
	background-color: rgb(var(--cor-bg));
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}
.skill-container {	
	margin-inline: 5px;
	min-width: 320px;
	width: 100%;	
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	flex: 1;
	/*border: 1px solid var(--cor-bordas);*/
	flex-wrap: wrap;
}

.skill-box {
	min-width: 220px;
	max-width: 300px;
	width: 30%;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: var(--box-shadow);
	background-color: var(--cor-bg-dark-card);
	margin: 3em 1em;
}
.skill-box h3 {
	font-size: clamp(1.15rem, 2.05vw, 1.65rem); 
	color: var(--cor-font);
	padding: .5em .85em;
	letter-spacing: 2px;

}
.skill-box span {
	/*color: rgb(var(--cor-tema));*/
	color: rgb(var(--cor-tema));
}

.canvas-box {
	width: 180px;
}

.img-skill {
	padding: .5em;
	margin-top: -30px;
	width: 125px;
}

/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*SECTION FORMACAO*/
.formacao {
	background-color: rgb(var(--cor-bg));
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.formacao-container {
	min-width: 320px;
	width: 100%;	
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	flex: 1;
	flex-wrap: wrap;
	margin-bottom: 50px;
}
.formacao-box {
	width: 90%;
	max-width: 800px;
	min-height: 200px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	box-shadow: var(--box-shadow);
	background-color: var(--cor-bg-dark-card);
	margin: 2em .5em;
}
.imgs-formacao {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	flex: 1;
	width: 100%;
	flex-wrap: wrap;
}

.img-formacao {
	max-width: 85px;
	margin: 1em;
}
.texto-formacao-box {
	padding: .25em;
	flex: 4;
}
.formacao-box h1 {
	font-size: clamp(1.15rem, 2.05vw, 1.65rem); 
	color: rgba(var(--cor-tema),1);
}
.formacao-box h3 {
		font-size: clamp(1.15rem, 2.05vw, 1.65rem); 
		color: var(--cor-font);
}
.formacao-box a {
	font-size: clamp(1.15rem, 2.05vw, 1.65rem); 
	color: rgba(var(--cor-tema),1);
}

.linha {
	margin: 20px 0;
	width: 95%;
	border-bottom: 1px solid rgba(var(--cor-tema),0.2);
}



/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*SECTION EXPERIENCIAS*/
.experiencias {
	background-color: rgb(var(--cor-bg));
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}
.experiencias-container {
	margin-inline: 0;
	min-width: 320px;
	width: 100%;	
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	flex: 1;
	flex-wrap: wrap;
	margin-bottom: 50px;
}
.experiencia-box {
	width: 90%;
	max-width: 800px;
	min-height: 200px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: var(--box-shadow);
	background-color: var(--cor-bg-dark-card);
	margin: 2em .5em;

}
.experiencia-box img {
	/*margin-top: -50px;*/
	align-self: flex-start;
	min-width: 280px;
	width: 100%;
	/*filter: brightness(9) contrast(1.2);*/

}

.experiencia-box h1 {
	font-size: clamp(1.25rem, 2.2vw, 1.5rem); 
	color: rgba(var(--cor-tema),0.8);
	/*margin: .5em 0.5em;*/
}
.experiencia-box p {
	font-size: clamp(1.15rem, 2.05vw, 1.65rem); 
	color: var(--cor-font);
	margin: .5em 0.5em;
}

.btns {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 1.5em;
}
.btns button {
	color: var(--cor-font);
	font-family: 'Ubuntu', sans-serif;
	min-width: 200px;
	max-width: 300px;
	width: 50%;
	height: 50px;
	border: none;
	margin: .5em;
	border-radius: 10px;
	box-shadow: var(--box-shadow);
	font-size: clamp(1.15rem, 2.05vw, 1.65rem); 
}
.btns .link {
	background-color: rgba(var(--cor-tema),.7);
}
.btns .repo {
	background-color: rgba(var(--cor-tema),.7);
}

.btns .repo:hover,
.btns .link:hover {
	background-color: rgba(var(--cor-tema),1);
	animation: var(--tremer);

} 

/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*SECTION CONTATO*/
.contato {
	background-color: rgb(var(--cor-bg));
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}
.contato-container {
	margin-inline: 0;
	min-width: 320px;
	width: 100vw;	
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	flex: 1;
	flex-wrap: wrap;
	margin-bottom: 50px;

}

.email-form {
	width: 90vw;
	max-width: 800px;
	min-height: 200px;	
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.field {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*align-items: center;*/
}
.input,
.field label {
	padding: .25em;
	outline: none;
	border: none;
	font-size: clamp(1.15rem, 2.05vw, 1.65rem); 
	font-family: 'Ubuntu', sans-serif;
	resize: none;
	color: var(--cor-font);
	border-radius: 10px;
}
.field label {
	color: rgba(var(--cor-tema),1);
}

.input-nome {
	text-transform: capitalize;	
}
.input-nome {
	text-transform: uppercase;
}
.field .input,
.field textarea  {
	padding: .5em;
	background-color: rgba( var(--cor-bg),1);
	border: 1px solid var(--cor-bordas);
	outline: none;
}
.btn-enviar {
	background-color: rgba(var(--cor-tema),.7);
	color: var(--cor-font);
	font-family: 'Ubuntu', sans-serif;
	min-width: 100px;
	max-width: 200px;
	height: 50px;
	border: none;
	margin: 1.5em 0;
	border-radius: 10px;
	box-shadow: var(--box-shadow);
	outline: none;
	font-size: clamp(1.15rem, 2.05vw, 1.65rem); 
}

.btn-enviar:hover {
	background-color: rgba(var(--cor-tema),1);
	animation: var(--tremer);
}

.card-curriculum {
	margin-top: 150px;
}
.btn-curriculum {
	background-color: rgba(var(--cor-tema),.7);
	
	font-family: 'Ubuntu', sans-serif;
	min-width: 100px;
	max-width: 300px;
	height: 50px;
	border: none;
	margin: .5em;
	border-radius: 10px;
	box-shadow: var(--box-shadow);
	font-size: clamp(1.15rem, 2.05vw, 1.65rem); 
}
.btn-curriculum a {
	color: var(--cor-font);
	z-index: 2;
	width: 100%;
	height: 50px;
	padding: 1rem 2rem;
}
.img-curriculum {
	min-width: 150px;
}

/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*modal msg*/
.modal-msg-email {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 5;
}
.msg-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-inline: 20px;
	width: 100%;
	height: 125px;
	background-color: #5cb85c;
}
.msg-container img {
	max-width: 100px;
	justify-self: center;
	align-self: center;

}
.msg-container h1 {
	font-size: clamp(1.15rem, 2.05vw, 1.65rem); 
	margin: 1em;
	justify-self: center;
	align-self: center;
	text-transform: uppercase;
	color: #f2f2f2;
}
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*FOOTER*/
.footer {
	background-color: rgb(var(--cor-bg));
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.div-contato-footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid var(--cor-bordas);
}

.footer h3 {
	width: 150px;
}



/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------*/
/*MEDIA QUERIES*/
/*----------------------------------------------------------------------*/
/* DESKTOP  */
@media only screen and (min-width: 769px) {
/*	.logo-svg {
		display: none;
	}*/


}
/*----------------------------------------------------------------------*/
/* TABLET */
/*----------------------------------------------------------------------*/
@media only screen and (min-width: 481px) and (max-width:768px) {
/*	.logo-svg {
		display: none;
	}*/
	.navbar {
		justify-content: space-between;
	}
	.nav-ul-container {
		display: none;
	}
}

/*----------------------------------------------------------------------*/
/* CELPHONE */
/*----------------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
	.navbar {
		justify-content: space-between;
	}
	.nav-ul-container {
		display: none;
	}
	.sobre-mim-texto {
		margin-top: 125px;
	}


}




